@media only screen and (min-width: 400px) and (max-width: 670px) {
  .box {
    padding: 1em 1em;
  }
  img {
    margin-left: auto;
    margin-right: auto;
  }
  .bar {
    width: 3em;
  }
  body {
    max-width: 40em;

  }
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
  text-align: center;
}

p {
  color: gray;
}

hr {
  color: lightgray;
  width: 10em;
}

.box {
  padding: 2em 1em;
  margin: 2em 1em;
  border: 1px dashed lightgray;
  float: left;
}

/* ngAnimate */
.ng-enter, .ng-enter-active {
  -webkit-transition: opacity ease-in 1s;
  transition:opacity ease-in 1s;
}

.ng-enter {
    opacity: 0;
}

.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.ng-enter-active {
    opacity: 1;
}
